* {
  margin: 0;
  padding: 0;
}
img {
  padding: 0;
  margin: 0;
}
#header {
  width: 100%;
  height: 60px;
  background: #192332;
  top: 0;
  left: 0;
  z-index: 50;
}
#header .header_1 {
  background: #192332;
  min-width: 1092px;
  height: 60px;
  padding: 0 88px 0 20px;
  position: relative;
  z-index: 5;
}
#header .header_1 .left {
  float: left;
  width: 60%;
  height: 60px;
  margin-left: 10px;
  position: relative;
}
#header .header_1 .left ul {
  position: absolute;
  left: 0;
  top: 0;
}
#header .header_1 .left ul li {
  display: inline-block;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#header .header_1 .left ul li a {
  box-shadow: 1;
  text-decoration: none;
  color: #c8c8c8;
  font-size: 15px;
  font-family: 'caviar_dreamsregular';
  display: block;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -o-transition: all .9s;
  -ms-transition: all .9s;
  transition: all .9s;
}
#header .header_1 .left ul li a:hover {
  color: #FF00AE;
}
#header .header_1 .right {
  width: 300px;
  height: 60px;
  position: absolute;
  right: 0;
}
#header .header_1 .right .right_1 {
  width: 150px;
  height: 60px;
}
#header .header_1 .right .right_1 a {
  display: block;
  text-decoration: none;
  float: left;
  line-height: 60px;
  font-size: 16px;
  color: #c8c8c8;
  font-family: 'caviar_dreamsregular';
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -o-transition: all .9s;
  -ms-transition: all .9s;
  transition: all .9s;
  padding-right: 20px;
  text-align: center;
  border-right: 1px solid #141c28;
}
#header .header_1 .right .right_1 a:hover {
  color: #FF00AE;
}
#header .header_1 .right .right_2 {
  width: 100px;
  height: 60px;
  position: relative;
  display: none;
}
#header .header_1 .right .right_2 span {
  width: 100px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  color: #c8c8c8;
  border-right: 1px solid #141c28;
}
borde #header .header_1 .right .right_2 span:hover {
  cursor: pointer;
}
#header .header_1 .right .right_2 span i {
  width: 0;
  height: 0;
  border-top: 5px solid#c8c8c8;
  border-right: 5px dotted transparent;
  border-bottom: 5px dotted transparent;
  border-left: 5px dotted transparent;
  position: absolute;
  left: 50%;
  top: 50%;
}
#header .header_1 .right .infor {
  width: 100px;
  height: 83px;
  border: 1px solid blanchedalmond;
  position: relative;
  top: -10px;
}
#header .header_1 .right .infor ul {
  list-style: none;
}
#header .header_1 .right .infor ul li {
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid white;
}
#header .header_1 .right .infor ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -o-transition: all .9s;
  -ms-transition: all .9s;
  transition: all .9s;
}
#header .header_1 .right .infor ul li a:hover {
  color: #FF00AE;
}
#message {
  width: 500px;
  height: 600px;
  background: blueviolet;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
#message .content {
  position: relative;
  left: 100px;
  top: 100px;
}
#message .content span {
  position: relative;
  left: 380px;
  top: -100px;
  cursor: pointer;
}
#message .content ul {
  list-style: none;
}
#message .content ul li {
  font-size: 16px;
}
#message .content ul li input {
  display: block;
  width: 300px;
  height: 30px;
}
#message .content .code {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  border: 0;
  letter-spacing: 3px;
  color: blue;
}
#message .content #txt {
  display: block;
  width: 300px;
  height: 30px;
}
#message .content button {
  display: block;
  width: 100px;
  height: 40px;
  font-size: 16px;
  position: relative;
  right: -200px;
  top: 20px;
}
#header_img {
  width: auto;
  position: relative;
  height: 390px;
  overflow: hidden;
}
#header_img ul {
  width: 100%;
  height: 390px;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
}
#header_img ul li {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  opacity: 1;
  z-index: 1;
  transition: .8s;
}
#header_img ul li img {
  display: block;
  width: 100%;
  height: 390px;
  position: absolute;
  left: 0;
  top: 0;
}
#header_img .header_img_content {
  position: absolute;
  left: 400px;
  width: 400px;
  z-index: 3;
  top: 150px;
  color: #fff;
  text-shadow: 0 0 1px #000;
  transition: .8s;
}
#header_img .header_img_content span {
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
  color: #fff;
  background: #ff6d00;
  margin-bottom: 5px;
  display: inline-block;
  text-shadow: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#header_img .header_img_content h2 {
  font-size: 36px;
}
#header_img .header_img_content h2 a {
  text-decoration: none;
  color: #fff;
  vertical-align: baseline;
  cursor: pointer;
}
#header_img .header_img_content .intotxt {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6em;
}
#header_img .header_img_content .intotxt a {
  text-decoration: none;
  color: #fff;
  vertical-align: baseline;
  cursor: pointer;
}
#header_img .header_img_content .intotxt i {
  width: 26px;
  height: 23px;
  background: url(../img/cinema_png.png) no-repeat -140px -222px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 5px 0 0;
}
#header_img .quan {
  width: 280px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: 220px;
  text-align: right;
  z-index: 5;
}
#header_img .quan a {
  background: #fff;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  border-radius: 12px;
  display: inline-block;
  position: relative;
  zoom: 1;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  opacity: .6;
  filter: alpha(opacity=60);
  margin-right: 17px;
}
nav {
  width: 100%;
  height: 75px;
}
nav .ticketServer {
  height: 75px;
  background: #333;
  border-top: 1px solid #515151;
  position: relative;
  z-index: 5;
}
nav .ticketServer .search {
  position: absolute;
  width: 400px;
  height: 75px;
  left: 500px;
}
nav .ticketServer .search input {
  width: 400px;
  height: 36px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 50px;
}
nav .ticketServer a {
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 905px;
  top: 12px;
  line-height: 36px;
  height: 36px;
  font-size: 18px;
  width: 120px;
  vertical-align: top;
  background: #0081bc;
  display: inline-block;
  border-radius: 15px;
}
#middle {
  width: 1000px;
  margin: auto;
  height: 48px;
  padding: 50px 0 0;
  background: #f2f2f2;
  clear: both;
}
#middle .title {
  position: relative;
  zoom: 1;
  z-index: 1;
  display: block;
}
#middle .title h2 {
  width: 180px;
  font-size: 20px;
  font-weight: normal;
  line-height: 48px;
  border-left: 10px solid #ff6d00;
  padding: 0 15px;
  float: left;
}
#middle .title .title_nav {
  width: 500px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
  float: left;
}
#middle .title .title_nav a {
  color: #08c;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
}
#middle .title .title_nav a span {
  padding: 0 5px;
  color: #333;
}
#middle .movebox {
  padding: 20px 0 0;
  display: block;
  clear: both;
}
#middle .movebox .first_move {
  width: 272px;
  float: left;
  color: #333;
}
#middle .movebox .first_move dt a {
  color: #08c;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}
#middle .movebox .first_move dt a img {
  width: 270px;
  height: 360px;
  border: 1px solid #c4c4c4;
}
#middle .movebox .first_move dd h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4em;
  padding-left: 65px;
  display: block;
}
#middle .movebox .first_move dd h2 a {
  color: #333;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}
#middle .movebox .first_move dd h3 {
  font-size: 14px;
  line-height: 24px;
  padding-left: 65px;
  font-weight: normal;
}
#middle .movebox .first_move dd p {
  color: #679c21;
  font-size: 18px;
  line-height: 26px;
  padding: 0 0 10px 30px;
  margin: 10px 0 0;
  position: relative;
  zoom: 1;
}
#middle .movebox .first_move dd p i {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/cinema_png.png) no-repeat -114px -150px;
  width: 23px;
  height: 23px;
  display: inline-block;
  overflow: hidden;
}
#middle .movebox .first_move dd div {
  text-align: right;
}
#middle .movebox .first_move dd div strong {
  font-size: 54px;
  line-height: 1em;
  margin-right: 6px;
  font-weight: bold;
  float: left;
}
#middle .movebox .first_move dd div a {
  width: 162px;
  border-radius: 40px;
  margin-left: 10px;
  height: 46px;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 2px;
  background: #0081bc;
  color: #fff;
  text-decoration: none;
  position: relative;
  zoom: 1;
  display: inline-block;
  text-align: center;
}
#middle .right_move {
  float: right;
  /*width: 680px;*/
  height: 450px;
  overflow-y: scroll;

}
#middle .right_move ul {
  display: flex;
  list-style: none;
  clear: both;
  flex-direction: row;
  flex-wrap: wrap;
}
#middle .right_move ul li {
  width: 320px;
  zoom: 1;
  /*margin: 0 0 20px 10px;*/
  margin-top: 15px;
  float: left;
  display: inline;
  text-align: -webkit-match-parent;
}
#middle .right_move ul li a {
  width: 102px;
  margin-right: 13px;
  position: relative;
  zoom: 1;
  float: left;
  display: inline;
  color: #08c;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}
#middle .right_move ul li a img {
  border: 1px solid #a5a5a5;
  display: block;
  width:100px;
  height: 140px;
}
#middle .right_move ul li dl {
  display: block;
  width: 205px;
  height: 145px;
  float: left;
  display: inline;
}
#middle .right_move ul li dl dt {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 8px;
  display: block;
}
#middle .right_move ul li dl dt a {
  color: #333;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}
#middle .right_move ul li dl dd {
  font-size: 14px;
  line-height: 24px;
  display: block;
  -webkit-margin-start: 40px;
}
#middle .right_move ul li dl .hot {
  color: #679c21;
  line-height: 20px;
  padding: 0 0 0 25px;
  margin: 30px 0 0;
  position: relative;
  zoom: 1;
}
#middle .right_move ul li dl .hot i {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/cinema_png.png) no-repeat -114px -150px;
  width: 23px;
  height: 23px;
  display: inline-block;
  overflow: hidden;
}
#middle .right_move ul li dl .btn {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
}
#middle .right_move ul li dl .btn a {
  background: #0081bc;
  width: 94px;
  height: 25px;
  display: inline-block;
  border-radius: 15px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
  zoom: 1;
  margin: 3px 10px;
}
#middle .content {
  width: 1000px;
  float: left;
  display: inline;
  margin-right: 16px;
}
#middle .content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#middle .content .i_wantmover {
  width: 15%;
  position: relative;
  zoom: 1;
  padding-left: 117px;
  min-height: 152px;
  height: 170px;
  color: #323232;
  font-size: 14px;
  margin-top: 17px;
  margin-right: 50px;
}
#middle .content .i_wantmover a {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  color: #323232;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}
#middle .content .i_wantmover a img {
  border: 1px solid #000;
  width: 100px;
  height: 150px;
}
#middle .content .i_wantmover .top {
  color: #323232;
  font-size: 14px;
}
#middle .content .i_wantmover .top h3 {
  padding-top: 7px;
  font-size: 16px;
  font-weight: normal;
}
#middle .content .i_wantmover .top h3 a {
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  color: #323232;
}
#middle .content .i_wantmover .top .i_wbr {
  position: relative;
  zoom: 1;
  padding-left: 45px;
  line-height: 1.5em;
}
#middle .content .i_wantmover .top .i_wbr b {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  line-height: 1.5em;
  color: #323232;
  font-size: 14px;
}
#middle .content .i_wantmover .top .i_radio {
  color: #323232;
  font-size: 14px;
  height: 20px;
}
#middle .content .i_wantmover .top .i_radio a {
  position: absolute;
  left: 118px;
  top: 74px;
}
#middle .content .i_wantmover .top .i_radio i {
  font-style: normal;
  font-weight: normal;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  zoom: 1;
  overflow: hidden;
  background: url(../img/allicon24.png) no-repeat -44px -190px;
}
#middle .content .i_wantmover .top .data {
  margin-top: 10px;
}
#middle .content .i_wantmover .top .sale {
  position: absolute;
  left: 117px;
  bottom: 6px;
  margin-top: 6px;
  color: #323232;
  font-size: 14px;
}
#middle .content .i_wantmover .top .sale a {
  background: #5eae2b;
  width: 94px;
  height: 25px;
  display: inline-block;
  border-radius: 15px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
  zoom: 1;
  vertical-align: baseline;
  cursor: pointer;
}
#bottom {
  width: 1000px;
  margin: auto;
  padding: 45px 0 30px 0;
  position: absolute;
  top: 1070px;

}
#bottom .title {
  border-left: 10px solid #ff6d00;
}
#bottom .title h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 48px;
  padding: 0 15px;
}
#bottom .content {
  width: 1000px;
  float: left;
  display: inline;
  margin-right: 16px;
}
#bottom .content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#bottom .content .i_wantmover {
  width: 15%;
  position: relative;
  zoom: 1;
  padding-left: 117px;
  min-height: 152px;
  height: 152px;
  color: #323232;
  font-size: 14px;
  margin-top: 17px;
  margin-right: 50px;
}
#bottom .content .i_wantmover a {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  color: #323232;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}
#bottom .content .i_wantmover a img {
  border: 1px solid #000;
  width: 100px;
  height: 150px;
}
#bottom .content .i_wantmover .top {
  color: #323232;
  font-size: 14px;
}
#bottom .content .i_wantmover .top h3 {
  padding-top: 7px;
  font-size: 16px;
  font-weight: normal;
}
#bottom .content .i_wantmover .top h3 a {
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  color: #323232;
}
#bottom .content .i_wantmover .top .i_wbr {
  position: relative;
  zoom: 1;
  padding-left: 45px;
  line-height: 1.5em;
}
#bottom .content .i_wantmover .top .i_wbr b {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  line-height: 1.5em;
  color: #323232;
  font-size: 14px;
}
#bottom .content .i_wantmover .top .i_radio {
  color: #323232;
  font-size: 14px;
  height: 20px;
}
#bottom .content .i_wantmover .top .i_radio a {
  position: absolute;
  left: 118px;
  top: 74px;
}
#bottom .content .i_wantmover .top .i_radio i {
  font-style: normal;
  font-weight: normal;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  zoom: 1;
  overflow: hidden;
  background: url(../img/allicon24.png) no-repeat -44px -190px;
}
#bottom .content .i_wantmover .top .data {
  margin-top: 10px;
}
#bottom .content .i_wantmover .top .sale {
  position: absolute;
  left: 117px;
  bottom: 6px;
  margin-top: 6px;
  color: #323232;
  font-size: 14px;
}
#bottom .content .i_wantmover .top .sale a {
  background: #5eae2b;
  width: 94px;
  height: 25px;
  display: inline-block;
  border-radius: 15px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
  zoom: 1;
  vertical-align: baseline;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: -1100px;
  background-color: #262426;
  padding: 56px 0;
  margin: 0 auto;
  min-width: 1800px;
  margin-top: 82px;
  visibility: hidden;
}
.footer p {
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.footer a {
  color: #ef4238;
  text-decoration: none;
}
.footer .friendly-links span {
  display: inline-block;
  border-left: 1px solid #444;
  margin: 0 7px;
  height: 12px;
  position: relative;
  top: 1px;
}
